# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Environments
.env
.env.*
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
static/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
